/*
    All images used as a learning aide only, and are copyright care of:
    https://picsum.photos/id/464/300/300
    https://picsum.photos/id/469/300/300
    https://picsum.photos/id/998/300/300
    https://picsum.photos/id/930/800/300
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::after,
*::before{
    box-sizing: inherit;
}

html{
    font-size: 16px;
    line-height: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: rgb(16, 40, 65);
}

h1, h2, h3, h4, h5, h6{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    background-image: url("../img/930-800x300.jpg");
    background-size: 100% auto;
    background-position: center center;
}

header h1{
    font-size: 3rem;
    line-height: 6rem;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 2rem 0rem;
}

nav a{
    flex-basis: auto;
    flex-grow: 0;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    
    background-color: rgb(81, 95, 95);
    text-decoration: none;
    color: darkblue;
    border-bottom: darkblue solid 0.4rem;
    font-size: 1.75rem;
    padding: 0.5rem;
    margin: 2.5rem 1.0rem; 
    border-radius: 0.5rem;

}

nav a:hover{
    color: lightblue;
    border-bottom: lightblue solid 0.4rem;
}

main{
    width: 90%;
    margin: 0 auto;
    border: 1px solid #aaa;
    color: lightsteelblue;
}

.product-gallery{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product{
    margin: 0.5rem 1rem;
    background-color: midnightblue;
    border: mediumblue solid 0.2rem;
    display: flex;
    flex-direction: row;
}

.product:hover{
    background-color: rgb(8, 0, 126);
}

.product img{
    margin: 0.5rem 1rem 1rem 1rem;
    transform: scale(1.0);
    transition: transform 1.0s ease;
}

.product:hover img{
    transform: scale(1.3);
    transition: transform 0.6s ease;
}

.featured-product{
    background-color: rgb(25, 25, 138);
    color: white;
    font-size: 1.0rem;
}

.featured-product:hover{
    background-color: rgb(29, 29, 158);
}

.featured-product .info{
}

.info{
}

footer p{
    color: lightsteelblue;
    padding: 1rem;
    margin: 0.5rem;
    border: 0.1rem solid lightsteelblue;
}



@media (max-width: 550px) {
    header h1 {
        line-height: 4rem;
        padding: 2rem 1rem;
    }

    nav{
        flex-direction: column;
    }

    nav a{
        margin: 2.5rem 0.5rem 2.5rem 2.5rem;
        border-right: darkblue solid 0.4rem;
        border-bottom: none; 
    }

    .product{
        flex-direction: column;
    }

    .product img{
        margin: 1rem 1rem 1rem 0rem;
    }

}